@{
    if (ViewBag.Id != null)
    {
        <p>ID : @ViewBag.Id </p>
    }
}
@{
    
    ViewData["Title"] = "Bienvenue dans ma page";
}

<div class="text-center">
    <h1 class="display-4">@ViewBag.Id  @ViewData["Title"]</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
